.footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    content: "";
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: gray;
    width: 60%;
  }
}
