.userInfo {
  display: flex;
  flex-direction: row;

  .userInfoAuthDisconect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
      opacity: 0.8;
      padding: 5px 10px;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      height: fit-content;
      background: $button-Color;
      color: white;
      margin: auto 10px;
      transition: opacity 0.5s;
      text-decoration: none;
      &:hover {
        opacity: 1;
      }
    }
  }
  .userInfoAuthConect {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    img {
      margin-left: 20px;
      cursor: pointer;
    }
  }
  .userInfoShoppingCart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    img {
      filter: grayscale(1);
    }
  }
}
