.button {
  display: block;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;

  height: 50px;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  border: 1px black solid;
  background-color: $button-Color;
  opacity: 0.8;
  transition: opacity 0.5s;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.disabled {
  opacity: 0.5 !important;
}
