* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: $main-color;
  td,
  th,
  .leaflet-bar span {
    color: black;
  }
  input {
    color: rgb(63, 62, 62);
  }
}
.errorInput {
  border-color: red;
}
.errorMessage {
  font-size: 15px;
  display: none;
  max-width: 350px;
  opacity: 0;
  text-wrap: wrap;
  transition: opacity 0.5s;
}
.errorMessageDisplay {
  display: inline-block;

  opacity: 1;
}

body {
  background-color: black;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
