* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: $main-color;
  td,
  th,
  .leaflet-bar span {
    color: black;
  }
  input {
    color: rgb(63, 62, 62);
  }
}

body {
  background-color: black;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
