.monCompteCommandes {
  background-color: $background-menu-clr;

  border-radius: 10px;
  padding: 40px;
  border: white 1px solid;
  @media screen and (max-width: 900px) {
    padding: 20px 10px;
    width: 100%;
    border: none;
  }
}
