.homeFirstSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 190px);
  overflow: hidden;
  @media screen and (max-width: 700px) {
    height: auto;
  }

  .homeFirstSectionArticle {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
    .homepageMainImage {
      animation: enterMainImg 2s;
      padding: 20px;
      @media screen and (max-width: 900px) {
        width: 350px;
        height: auto;
      }
      @media screen and (max-width: 800px) {
        width: 300px;
        height: auto;
      }
      @media screen and (max-width: 700px) {
        width: 300px;
        height: auto;
        margin-top: 30px;
      }
    }
    .homeFirstSectionH1 {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: enterH1 2s;
      h1 {
        background: linear-gradient(to top, $deg-color-begin, $deg-color-end);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 50px;
        font-weight: 100;
        max-width: 650px;
        span:first-child {
          font-weight: 400;
          margin-bottom: 30px;
        }
        span:last-child {
          font-size: 40px;
          -webkit-text-fill-color: white;
        }
      }
      .doubleArrowWrapper {
        margin-top: 70px;
        transform: rotate(-90deg);
        cursor: pointer;
        img:first-child {
          animation: doubleArrow 1s infinite;
          animation-delay: 0.2s;
        }
        & img:nth-child(2) {
          animation: doubleArrow 1s infinite;
        }
        @media screen and (max-width: 900px) {
          margin-top: 50px;
        }
        @media screen and (max-width: 900px) {
          margin-top: 30px;
        }
        @media screen and (max-width: 700px) {
          display: none;
        }
      }
    }
  }
}
