.homePresentationSection {
  width: 60%;
  min-width: 600px;
  margin: auto;
  padding: 50px;
  text-align: center;
  h2 {
    font-size: 40px;
    margin: 70px auto 40px;
  }
  p {
    font-size: 30px;
    font-weight: 300;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 90%;
    height: 1px;
    background-color: black;
  }
}
