.homePresentationSection {
  padding: 10px;
  min-width: 600px;
  margin: auto;
  text-align: center;
  min-height: calc(100vh);
  justify-content: center;
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    min-width: auto;
    min-height: auto;
    padding: 0;
  }
  .homePresentationArticle {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    @media screen and (max-width: 700px) {
      max-width: none;
    }

    h2 {
      font-size: 37px;
      color: $deg-color-begin;
      margin-bottom: 50px;
    }
    p {
      font-size: 25px;
      font-weight: 300;
      color: $deg-color-begin;
      margin-bottom: 50px;
    }
    a {
      width: 200px;
      margin-top: 20px;
    }
  }
  .homepagePresentationCaroussel {
    padding: 0px 50px;
    @media screen and (max-width: 900px) {
      padding: 0px 20px;
    }
    @media screen and (max-width: 800px) {
      padding: 50px 0;
      width: 100%;
    }
    .caroussel {
      width: 400px;
      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
  }
}
