.cartWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media screen and (max-width: 700px) {
    padding: 20px 0;
  }
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $deg-color-begin;
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .cartProductImgWrapper {
    width: 200px;
    min-width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    @media screen and (max-width: 700px) {
      width: 100px;
      min-width: 100px;
      height: 100px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cartResponsiveWrapper {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
    margin: 0 10px;

    a {
      text-decoration: none;
      h2 {
        font-size: 20px;
        @media screen and (max-width: 700px) {
          font-size: 15px;
        }
      }
    }
    .cartQty {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      .cartQtyWrapper {
        display: flex;
        column-gap: 10px;
        label {
          font-weight: 200;
        }
        select {
          color: black;
        }
      }

      .removeItem {
        font-size: 25px;
        font-weight: 100;
        @media screen and (max-width: 700px) {
          font-size: 18px;
        }
        cursor: pointer;
        &:hover {
          font-weight: 300;
        }
      }
    }
  }
  .cartPrice {
    font-size: 20px;
    text-wrap: nowrap;
  }
  // .cartProductWrapper {
  //   display: flex;
  //   align-items: center;
  //   .cartProductImgWrapper {
  // width: 200px;
  // min-width: 200px;
  // height: 200px;
  // border-radius: 10px;
  // overflow: hidden;
  // img {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
  //   }
  //   a {
  //     text-decoration: none;
  //   }
  //   h3 {
  //     min-width: 150px;
  //     text-align: center;
  //     margin: auto 15px;
  //   }
  // }
  // &::before {
  //   content: "";
  //   width: 100%;
  //   height: 1px;
  //   background-color: $deg-color-begin;
  //   display: inline-block;
  //   position: absolute;
  //   top: 0;
  // }

  // .QtyAndPrice {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   align-items: center;
  //   font-size: 25px;
  //   @media screen and (max-width: 900px) {
  //     font-size: 20px;
  //   }
  //   select {
  //     margin-left: 10px;
  //     font-size: 20px;
  //     color: $deg-color-begin;
  //     @media screen and (max-width: 900px) {
  //       font-size: 15px;
  //     }
  //   }
  //   .cartQty {
  //     height: 40%;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     align-items: center;
  //     .cartQtyWrapper {
  //       display: flex;
  //       align-items: center;
  //       label {
  //         text-wrap: nowrap;
  //       }
  //     }
  //     .removeItem {
  // font-size: 25px;
  // font-weight: 100;
  // cursor: pointer;
  // &:hover {
  //   font-weight: 300;
  // }
  //     }
  //   }
  //   .cartPrice {
  //     min-width: 120px;
  //     margin-left: 50px;
  //   }
  // }
}
