.cartWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 200px;
  .cartProductWrapper {
    display: flex;
    align-items: center;
    .cartProductImgWrapper {
      width: 200px;
      min-width: 200px;
      height: 200px;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h3 {
      min-width: 150px;
      text-align: center;
    }
  }
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $deg-color-begin;
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .QtyAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    select {
      margin-left: 10px;
      font-size: 20px;
      color: $deg-color-begin;
    }
    .cartQty {
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .removeItem {
        font-size: 25px;
        font-weight: 100;
        cursor: pointer;
        &:hover {
          font-weight: 300;
        }
      }
    }
    .cartPrice {
      min-width: 120px;
      margin-left: 50px;
    }
  }
}
