.signupSectionWrapper {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  width: 400px;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px 50px 0;
  form {
    display: flex;
    flex-direction: column;
    input {
      padding-left: 15px;
      height: 30px;
      border-radius: 10px;
      font-size: 20px;
      margin-top: 30px;
    }
    .button {
      margin: 50px auto;
    }
    .errorInput {
      border-color: red;
    }
  }
}
