.sectionAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  .sectionAdminWrapper {
    display: flex;
    flex-direction: row;

    padding: 30px;

    width: fit-content;
    margin-top: 40px;
    nav {
      width: 300px;
      display: flex;
      flex-direction: column;
      height: 100%;
      a {
        border: white 1px solid;
        height: 100px;
        border-radius: 10px;
        background-color: $background-menu-clr;
        font-size: 30px;
        font-weight: 300;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        white-space: nowrap;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  h2 {
    font-size: 40px;
    text-align: center;
  }
}
