.sectionAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sectionAdminWrapper {
    display: flex;
    flex-direction: row;

    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 1px solid rgb(128, 126, 126);
    border-radius: 10px;
    width: fit-content;
    margin-top: 40px;
    nav {
      width: 300px;
      display: flex;
      flex-direction: column;
      height: 100%;
      a {
        height: 100px;
        border-radius: 10px;
        background-color: rgb(243, 243, 248);
        font-size: 30px;
        font-weight: 300;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        white-space: nowrap;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

  }
}
