.commandeSummary {
  height: fit-content;
  min-width: fit-content;
  background-color: rgb(21, 21, 21);
  border-radius: 15px;
  padding: 20px;
  h2 {
    font-size: 30px;
    text-align: center;
    margin: 30px;
  }
  .commandeSummaryTotalWrapper {
    .commandeSummaryTotal {
      padding: 20px 20px 0;
      font-size: 30px;
      text-align: end;
    }
    &::before {
      content: "";
      height: 1px;
      background-color: #485a6f;
      display: block;
    }
  }
}
