.caroussel {
  border-radius: 10px;
  height: 415px;
  width: 40%;
  overflow: hidden;
  margin: auto;
  @media screen and (max-width: 900px) {
    width: 100%;
    border-radius: 0;
  }
  @media (max-width: 650px) {
    height: 255px;
  }
  .carousselImg {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .caroussel_arrow {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px;

      height: 100%;

      img {
        height: 40px;
        width: 24px;
        @media (max-width: 650px) {
          height: 20px;
          width: 12px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .arrow_after {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.646)
      );
      right: 0px;
    }
    .arrow_before {
      background: linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.646)
      );
      left: 0px;
    }
  }
}
