.boutiqueFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  @media screen and (max-width: 1150px) {
    justify-content: center;
  }
  label {
    margin-right: 20px;
    font-size: 30px;
  }
  select {
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: $deg-color-begin;
  }
  form {
    margin: 0 30px;
    display: flex;
    align-items: center;
    input {
      border: 2px solid white;
      font-size: 20px;
      height: 40px;
      min-width: 200px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    button {
      background: $button-Color;
      height: 40px;
      width: 40px;
      border: 2px solid white;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      img {
        filter: invert(100%);
      }
    }
  }
}
