.sectionMonCompte {
  display: flex;
  flex-direction: column;
  align-items: center;
  .sectionCompteWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    padding: 30px;

    width: fit-content;
    margin-top: 40px;
    @media screen and (max-width: 900px) {
      row-gap: 30px;
      flex-wrap: wrap;
      margin-top: 0;
    }
    @media screen and (max-width: 500px) {
      padding: 20px 0;
    }
    nav {
      width: 300px;
      display: flex;
      flex-direction: column;
      height: 100%;
      @media screen and (max-width: 900px) {
        flex-direction: row;
        width: auto;
        column-gap: 10px;
      }
      @media screen and (max-width: 500px) {
        flex-direction: column;
      }
      a {
        border: white 1px solid;
        height: 100px;
        border-radius: 10px;
        background-color: $background-menu-clr;
        font-size: 30px;
        font-weight: 300;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        white-space: nowrap;
        padding-left: 20px;
        padding-right: 20px;
        @media screen and (max-width: 900px) {
          font-size: 20px;
          height: 50px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  h2 {
    font-size: 40px;
    text-align: center;
    @media screen and (max-width: 900px) {
      font-size: 25px;
    }
  }
}
