.sectionProduct {
  padding: 50px;
  @media screen and (max-width: 900px) {
    padding: 0;
  }
  .productArticle {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 900px) {
      align-items: center;
      flex-direction: column;
    }
    .bold {
      font-weight: 500;
      margin-right: 10px;
    }
    .productInfo {
      font-size: 20px;
      font-weight: 300;
      width: 50%;
      @media screen and (max-width: 900px) {
        padding: 0 15px;
        margin-top: 30px;
        width: auto;
      }
      @media screen and (max-width: 600px) {
        font-size: 15px;
      }

      h1 {
        font-size: 50px;
        text-align: center;
        @media (max-width: 650px) {
          font-size: 30px;
        }
      }
      .productInfoDescription {
        margin: 60px auto 20px;
      }
      .productInfoProvenance {
        margin: 20px auto;
      }
      .productInfoSize {
        margin: 20px auto;
      }
      .productInfoWeight {
        margin: 20px auto;
      }
      .productInfoPrice {
        font-weight: 200;
        font-size: 45px;
        @media (max-width: 650px) {
          font-size: 30px;
        }
        &::before {
          content: "";
          display: block;
          height: 1px;
          width: 90%;
          background-color: rgba(128, 128, 128, 0.551);
        }
        p {
          padding-top: 30px;
        }
      }
      .button {
        margin: 50px auto;
      }
    }
  }
}
