.header {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-top: 20px;
  color: $main-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5%;
  margin-bottom: 60px;
}
