.footerNav {
  display: flex;
  justify-content: center;
  ul {
    margin: 30px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 720px;
    li {
      a {
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        @media screen and (max-width: 500px) {
          font-size: 15px;
        }
      }
    }
  }
}
