.manageProduct {
  display: flex;
  flex-direction: column;
  background-color: $background-menu-clr;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  padding: 30px;
  border: white 1px solid;
  @media screen and (max-width: 700px) {
    margin: auto;
    border: none;
  }
  .manageProductWrapper {
    max-height: 100vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    @media screen and (max-width: 700px) {
      max-height: max-content;
      overflow-y: auto;
    }
    .productCard {
      background-color: white;
      width: 200px;
      overflow: hidden;
      border-radius: 10px;
      cursor: pointer;

      text-decoration: none;
      @media screen and (max-width: 700px) {
        width: 100%;
      }

      .productCardImgCont {
        height: 150px;
        width: 200px;
        @media screen and (max-width: 700px) {
          width: 100%;
        }

        img {
          width: 200px;
          height: 150px;
          object-fit: cover;
          @media screen and (max-width: 700px) {
            width: 100%;
          }
        }
      }
      .productCardInfo {
        font-weight: 300;
        padding: 5px 10px;

        display: flex;
        flex-direction: column;

        .productCardName {
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 5px;
          color: rgb(122, 122, 122);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .productManage {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          text-wrap: nowrap;

          button,
          a {
            cursor: pointer;
            font-size: 18px;
            font-weight: 300;
            border: none;
            display: block;
            height: 100%;
            padding: 0 6px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgb(122, 122, 122);

            background-color: transparent;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
