.manageProduct {
  background-color: rgb(243, 243, 248);
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  .productCard {
    background-color: white;
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
    transition: transform 0.5s, box-shadow 0.5s;
    text-decoration: none;

    .productCardImgCont {
      height: 150px;
      width: 200px;
      overflow: hidden;

      img {
        width: 200px;
        object-fit: cover;
        overflow: hidden;
      }
    }
    .productCardInfo {
      font-weight: 300;
      padding: 5px 10px;

      display: flex;
      flex-direction: column;

      .productCardName {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 5px;
      }
      .productManage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        button,
        a {
          cursor: pointer;
          font-size: 18px;
          font-weight: 300;
          border: none;
          display: block;
          height: 100%;
          padding: 0 6px;
          display: flex;
          align-items: center;
          text-decoration: none;

          background-color: transparent;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
