$max-img-width: 500px;
$max-img-height: 400px;

img {
  vertical-align: top;
}

.gallery {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  max-width: $max-img-width;
  position: relative;
  padding-top: $max-img-height;
  flex-wrap: wrap;
  @media screen and (max-width: 700px) {
    margin: 0;
    padding-top: 350px;
  }
  @media screen and (max-width: 400px) {
    padding-top: 250px;
  }

  &__img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__thumb {
    padding-top: 6px;
    margin: 6px;
    display: block;
  }

  &__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    &:checked {
      + .gallery__img {
        opacity: 1;
      }
      ~ .gallery__thumb > img {
        box-shadow: 0 0 0 3px #0be2f6;
      }
    }
  }
}
