.boutiqueSection {
  padding: 50px;
  @media screen and (max-width: 500px) {
    padding: 40px 0 0 0;
  }
  .boutiqueProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
