.boutiqueSection {
  @media screen and (max-width: 500px) {
    padding: 0;
  }
  .boutiqueProducts {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: flex-start;

    .productList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 60px;
      column-gap: 20px;
      padding: 0 10px;
      justify-content: space-around;
    }
  }
}
