.deliveryArticle {
  border: white 1px solid;
  background-color: $background-menu-clr;
  border-radius: 15px;
  padding: 20px 20px 40px 20px;
  height: fit-content;
  @media screen and (max-width: 500px) {
    border: none;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    margin: 30px;
    @media screen and (max-width: 500px) {
      font-size: 25px;
    }
  }
  .deliveryChoiceWrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    @media screen and (max-width: 500px) {
      padding: 20px 20px;
    }

    a {
      padding: 15px;
      text-align: center;
      text-decoration: none;
      border: 1px solid white;
      border-radius: 10px;
      font-size: 20px;
      &:last-child {
        margin-top: 20px;
      }
    }
  }
}
