.commandeResume {
  padding: 20px;
  background-color: $background-menu-clr;
  border-radius: 15px;
  display: flex;
  border: white 1px solid;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-around;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    row-gap: 40px;
  }
  @media screen and (max-width: 500px) {
    border: none;
  }

  .addressResume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 30px;
      margin: 30px;
      text-align: center;
    }
    .addressResumeNames {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
    }
    .addressResumeCity {
      display: flex;
      flex-direction: row;
      p {
        margin-right: 15px;
      }
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .paiement {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
