@import "./sass/Utils/variables";
@import "./sass/Layout/global";
@import "./sass/Utils/font";
@import "./sass/Layout/Header/header";
@import "./sass/Layout/Header/nav/nav";
@import "./sass/Layout/Header/UserInfo/userInfo";
@import "./sass/Pages/Home/HomeFirstSection";
@import "./sass/Pages/Home/homePresentationSection";
@import "./sass/Layout/Footer/footer";
@import "./sass/Layout/Footer/nav/nav";
@import "./sass/Layout/Head1/head1";
@import "./sass/Pages/Boutique/boutique";
@import "./sass/Pages/Boutique/FilterSelection/filterSection";
@import "./sass/Components/Button/button";
@import "./sass/Pages/Boutique/ProductCard/productCard";
@import "./sass/Pages/About/about";
@import "./sass/Pages/Product/product";
@import "./sass/Components/Caroussel/carousel";
@import "./sass/Pages/Cart/cart";
@import "./sass/Pages/Cart/CartCard/cartCard";
@import "./sass/Pages/Login/login";
@import "./sass/Pages/Signup/signup";
@import "./sass/Pages/Admin/admin";
@import "./sass//Pages/Admin/creer/adminCreate";
@import "./sass/Pages/Admin/gerer/adminManage";
@import "./sass/Pages/Admin/ventes/ventes";
@import "./sass/Pages/Commande/commande";
@import "./sass/Pages/Commande/CommandeSummary/CommandeSummary";
@import "./sass/Pages/Commande/CommandeAddress/commandeAddress";
@import "./sass/Pages/Commande/CommandeResume/commandeResume";
@import "./sass/Components/Loader/loader";
@import "./sass/Utils/keyframes";
@import "./sass/Pages/Erreur/erreur";
