.loginSectionWrapper {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  width: 400px;
  margin: auto;
  border-radius: 20px;
  padding: 50px;
  margin: 30px auto;
  form {
    display: flex;
    flex-direction: column;
    input {
      padding-left: 15px;
      height: 30px;
      border-radius: 10px;
      font-size: 20px;
      margin-top: 30px;
    }
    .button {
      margin: 50px auto;
    }
  }
  .helpLogin {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      margin-top: 10px;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
