.loginSection {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  width: 400px;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 50px;
  form {
    display: flex;
    flex-direction: column;
    input {
      height: 30px;
      border-radius: 10px;
      font-size: 20px;
      margin-top: 30px;
    }
  }
  .helpLogin {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      margin-top: 10px;
      &:hover {
        text-decoration: underline;
        color: $button-Color;
      }
    }
  }
}
