.emailSentSection {
  font-family: "Roboto";
  .emailSentArticle {
    margin: 60px auto;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    padding-left: 15%;
    padding-right: 15%;
    a {
      font-weight: 800;
    }
  }
}
