.headerNav {
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
    @media screen and (max-width: 1150px) {
      flex-direction: column;
      row-gap: 20px;
      color: black;
    }

    li {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 20px;

      a,
      a:visited {
        color: $main-color;
        text-decoration: none;
        @media screen and (max-width: 1150px) {
          color: black;
        }
      }
      a::after {
        content: "";
        height: 1px;
        width: 1px;
        margin-top: 5px;
        display: block;
        background-color: $main-color;
        opacity: 0;
        transition: opacity 1s, width 1s;
        @media screen and (max-width: 1150px) {
          background-color: black;
        }
      }
      &:hover a::after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}
