.addProduct,
.modifyProduct {
  background-color: $background-menu-clr;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  border: white 1px solid;
  padding: 40px;
  @media screen and (max-width: 700px) {
    margin: 0;
    padding: 15px 0;
    border: none;
  }

  form {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 700px) {
      padding: 10px;
    }
    input,
    textarea {
      margin-bottom: 30px;
      font-size: 20px;
      border-radius: 5px;
      border: 1px rgb(181, 180, 180) solid;
      padding: 3px;
      padding-left: 10px;
      color: rgb(46, 45, 45);
      &::placeholder {
        color: rgb(125, 123, 123);
      }
      @media screen and (max-width: 700px) {
        width: 80%;
        margin: 15px auto;
      }
    }
    #file,
    #mainFile {
      color: white;
    }
    label {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 20px;

      padding-left: 10px;
    }
    .button {
      margin: 40px auto 0;
    }
  }
}
