.addProduct {
  background-color: $background-menu-clr;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  padding: 40px;

  form {
    display: flex;
    flex-direction: column;
    input,
    textarea,
    .addPicture {
      margin-top: 30px;
      font-size: 20px;
      border-radius: 5px;
      border: 1px rgb(211, 208, 208) solid;
      padding: 3px;
      padding-left: 10px;
      color: rgb(122, 122, 122);
    }
    .button {
      margin: 40px auto 0;
    }
    .imageUpload {
      margin: 10px auto;
      label {
        cursor: pointer;
        padding: 5px 20px;
        border: 1px solid grey;
        border-radius: 20px;
        font-size: 20px;
        color: rgb(122, 122, 122);
      }
      input {
        display: block;
      }
    }
  }
}
