.commandeChronopost {
  margin-top: 60px;
  height: fit-content;
  background-color: $background-menu-clr;
  border-radius: 15px;
  padding: 20px;
  border: white 1px solid;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  h2 {
    font-size: 30px;
    text-align: center;
    margin: 30px;
  }
  .commandeChronopostInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    .commandeChronoposInfoWrapper {
      max-width: 430px;
    }
    .commandeChronopostAddressWrapper {
      width: 60%;
      max-width: 600px;
      .commandeCityCPWrapper {
        display: flex;
        flex-direction: row;
      }
    }
    .commandeInputLabelWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      label {
        margin: 10px 0;
        text-wrap: nowrap;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 20px;
      }
      input {
        margin: 10px 0;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        color: rgb(76, 75, 75);
        width: 100%;
        min-width: 80px;
      }
      select {
        font-size: 20px;
        color: black;
      }
    }
  }
}
