.commandeMondialRelay {
  margin-top: 60px;
  height: fit-content;
  background-color: $background-menu-clr;
  border-radius: 15px;
  padding: 20px;
  border: white 1px solid;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 30px;
    text-align: center;
    margin: 30px;
  }
  .commandeMondialRelayWrapper {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .commandeMondialrelayInfo {
      padding: 40px;

      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      label {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 20px;
      }
      input {
        margin: 10px 0;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        color: rgb(76, 75, 75);
      }
    }
  }
  .button {
    margin: 30px auto 30px;
  }
  .widgetWrapper {
    color: rgb(76, 75, 75);

    #Zone_Widget {
      color: rgb(76, 75, 75);

      input {
        color: rgb(76, 75, 75);
      }
      .PR-AutoCplCity,
      .PR-List-Item {
        div {
          color: rgb(3, 3, 3) !important;
        }
      }
    }
  }
}
