.commandeChronopost {
  margin-top: 60px;
  height: fit-content;
  background-color: $background-menu-clr;
  border-radius: 15px;
  padding: 20px;
  border: white 1px solid;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  @media screen and (max-width: 500px) {
    padding: 10px;
    border: none;
  }

  h2 {
    font-size: 30px;
    text-align: center;
    margin: 30px;
    @media screen and (max-width: 500px) {
      font-size: 25px;
    }
  }
  .commandeChronopostInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .commandeChronoposInfoWrapper {
      width: 100%;
    }
    .commandeChronopostAddressWrapper {
      width: 100%;

      .commandeCityCPWrapper {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
      }
    }
    .commandeInputLabelWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      @media screen and (max-width: 500px) {
        flex-wrap: wrap;
      }
      label {
        margin: 10px 0;
        text-wrap: nowrap;
        padding-right: 20px;
        font-size: 20px;
        @media screen and (max-width: 500px) {
          font-size: 17px;
        }
      }
      input {
        margin: 10px 0;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        color: rgb(76, 75, 75);
        width: 100%;
        min-width: 80px;
      }
      select {
        font-size: 20px;
        color: black;
      }
    }
  }
}
