$main-color: rgb(255, 255, 255);
$button-Color: linear-gradient(190deg, #485a6f, 60%, #994d61);
$login-signup-bg: linear-gradient(190deg, #485a6f, 80%, #994d61);
$deg-color-begin: #485a6f;
$deg-color-end: #994d61;
