.resetPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .resetPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    justify-content: center;
    align-items: center;
    .resetPasswordFormWrapper {
      margin: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 30px;
      label,
      input {
        font-size: 25px;
      }
      label {
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
      }
      input {
        font-size: 25px;
        border-radius: 10px;
      }
    }
    .button {
      margin: 30px auto;
    }
  }
}
