.resetPasswordSection {
  .resetPasswordArticle {
    padding: 50px;
    font-size: 20px;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
      .resetPasswordFormWrapper {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        label {
          display: none;
        }
        input {
          min-width: 400px;
          padding-left: 15px;
          height: 30px;
          border-radius: 10px;
          font-size: 20px;
          margin-top: 30px;
          @media screen and (max-width: 500px) {
            min-width: 280px;
            font-size: 15px;
          }
          @media screen and (max-width: 350px) {
            min-width: 250px;
            font-size: 15px;
          }
        }
      }
      .button {
        margin: 30px auto 70px;
      }
    }
  }
}
