.aboutSection article {
  color: $deg-color-begin;
  padding: 50px 15%;
  text-align: center;

  h2 {
    font-size: 30px;
    text-align: center;
  }
  p {
    font-size: 20px;
    margin: 20px auto;
  }
}
