.displayNone {
  display: none;
}

.displayCategories {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  p {
    font-size: 20px;
  }
}

.categories_wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30px;
  flex-shrink: 0;
  background-color: #000000;
  z-index: 99;
  width: 150px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 1000px;
  @media screen and (max-width: 800px) {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .categorie_wrapper {
    h2 {
      font-size: 23px;
      margin-bottom: 15px;
      color: $deg-color-begin;
    }
    ul {
      li {
        padding: 5px 0px;
        cursor: pointer;
        font-weight: 300;
        font-size: 15px;
        color: white;

        &:hover {
          color: $deg-color-end;
        }
      }
    }
  }
}
