.boutiqueSection {
  .productCard {
    margin-top: 50px;
    background-color: white;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: #ffffff66 0px 5px 10px;
    transition: transform 0.5s, box-shadow 0.5s;
    text-decoration: none;

    &:hover {
      transform: scale(1.05);
      box-shadow: rgba(184, 184, 184, 1) 0px 5px 20px;
    }

    .productCardImgCont {
      height: 240px;
      width: 300px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: end;

      .productCardImg {
        transition: transform 0.5s;
        width: 290px;
        height: 235px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;

        object-fit: cover;
        overflow: hidden;
      }

      &:hover .productCardImg {
        transform: scale(1.15);
      }
    }
    .productCardInfo {
      font-weight: 300;
      padding: 10px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .productCardInfoCont {
        .productCardName {
          font-size: 25px;
          margin-bottom: 5px;
          color: grey;
        }
        .productCardPrice {
          opacity: 0.7;
          color: rgb(77, 74, 74);
          font-size: 23px;
        }
      }
      .productCardAdd {
        &::before {
          content: "";
          display: inline-block;
          width: 1px;
          background-color: rgba(128, 128, 128, 0.382);
          height: 100%;
        }
        &:hover img {
          transform: scale(1.3);
        }
      }
      img {
        transition: transform 0.5s;
        filter: invert(0.8);
      }
    }
  }
}
