.productCard {
  margin-top: 50px;
  background-color: white;
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  transition: transform 0.5s, box-shadow 0.5s;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 20px;
  }

  .productCardImgCont {
    height: 240px;
    width: 300px;
    overflow: hidden;
    .productCardImg {
      transition: transform 0.5s;
    }

    img {
      width: 300px;
      height: 240px;
      object-fit: cover;
      overflow: hidden;
    }
    &:hover .productCardImg {
      transform: scale(1.15);
    }
  }
  .productCardInfo {
    font-weight: 300;
    padding: 10px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .productCardInfoCont {
      .productCardName {
        font-size: 25px;
        margin-bottom: 5px;
      }
      .productCardPrice {
        opacity: 0.7;
      }
    }
    .productCardAdd {
      &::before {
        content: "";
        display: inline-block;
        width: 1px;
        background-color: rgba(128, 128, 128, 0.382);
        height: 100%;
      }
      &:hover img {
        transform: scale(1.3);
      }
    }
    img {
      transition: transform 0.5s;
    }
  }
}
